<div class="bottomnav">
  <a class='action-button' href='#' routerLink='/invoices'>
  <div class='bottomnavIcon'>
    <button mat-raised-button>
      <mat-icon>assignment</mat-icon>
      </button><br />
      <p>Invoices</p>
  </div>
</a>

  <a class='action-button' href='#' routerLink='/orders'>
  <div class='bottomnavIcon'>
    <button mat-raised-button>
      <mat-icon>assignment</mat-icon>
    </button><br />
    <p>Orders</p>
  </div>
  </a>

  <a class='action-button' href='#' routerLink='/inventory'>
  <div class='bottomnavIcon'>
    <button mat-raised-button>
      <mat-icon>assignment</mat-icon>
    </button><br />
    <p>Inventory</p>
  </div>
  </a>

<a class='action-button' href='#' routerLink='/forecasting'>
  <div class='bottomnavIcon'>
    <button mat-raised-button>
      <mat-icon>assignment</mat-icon>
    </button><br />
    <p>Forecasting</p>
  </div>
  </a>

<a class='action-button' href='#' routerLink='/'>
<div class='actionButton'>
  <button mat-fab color="#FFA700">
    <mat-icon>assignment</mat-icon>
  </button>
</div>
</a>