<h4>Inventory</h4>
<br/>

<igx-card (click)='toggle("liqOn")'><h6>Liquor</h6>
  <table *ngIf='liqOn' class="mat-elevation-z8" width='100%'>
      <thead>
        <tr>
          <th>ProductName</th>
          <th>Volume</th>
          <th>Quantity</th>
          <th>Par</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of liquor">
          <td>
            <input type="text" 
            [(ngModel)]="product.name" 
            [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.bottleSize" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.quantity" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.par" 
              [disabled]="!product.isEditable"/>
          </td>
        </tr>
      </tbody>
  </table>
</igx-card>
<br />

<igx-card (click)='toggle("wineOn")'><h6>Wine</h6>
  <table *ngIf='wineOn'  class="mat-elevation-z8" width='100%'>
      <thead>
        <tr>
          <th>ProductName</th>
          <th>Volume</th>
          <th>Quantity</th>
          <th>Par</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of wine">
          <td>
            <input type="text" 
            [(ngModel)]="product.name" 
            [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.bottleSize" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.quantity" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.par" 
              [disabled]="!product.isEditable"/>
          </td>
        </tr>
      </tbody>
  </table>
</igx-card>
<br />

<igx-card (click)='toggle("beerOn")'><h6>Beer</h6>
  <table *ngIf='beerOn'  class="mat-elevation-z8" width='100%'>
      <thead>
        <tr>
          <th>ProductName</th>
          <th>Volume</th>
          <th>Quantity</th>
          <th>Par</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of beer">
          <td>
            <input type="text" 
            [(ngModel)]="product.name" 
            [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.bottleSize" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.quantity" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.par" 
              [disabled]="!product.isEditable"/>
          </td>
        </tr>
      </tbody>
  </table>
</igx-card>
<br />

<igx-card (click)='toggle("nonOn")'><h6>Non-Alcoholic</h6>
  <table *ngIf='nonOn'  class="mat-elevation-z8" width='100%'>
      <thead>
        <tr>
          <th>ProductName</th>
          <th>Volume</th>
          <th>Quantity</th>
          <th>Par</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of non">
          <td>
            <input type="text" 
            [(ngModel)]="product.name" 
            [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.bottleSize" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.quantity" 
              [disabled]="!product.isEditable"/>
          </td>
          <td>
              <input type="text" 
              [(ngModel)]="product.par" 
              [disabled]="!product.isEditable"/>
          </td>
        </tr>
      </tbody>
  </table>
</igx-card>