<h3 id="title">Registration</h3>
<mat-vertical-stepper >

  <mat-step>
    <form [(formGroup)]="registrationForm">
      <ng-template matStepLabel><td id="ngtext">Enter Email</td></ng-template>
      <input matInput placeholder="email" formControlName='email' >
      
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [formGroup]="registrationForm">
      <ng-template matStepLabel><td id="ngtext">Enter First Name</td></ng-template>
      <input matInput placeholder="firstName" formControlName='first_name' required>
      
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="registrationForm">
      <ng-template matStepLabel><td id="ngtext">Enter Last Name</td></ng-template>
      <input matInput placeholder="lastName" formControlName='last_name' required>
      
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [formGroup]="registrationForm">
      <ng-template matStepLabel><td id="ngtext">Enter Password</td></ng-template>
      <input matInput placeholder="password" formControlName='password' required>
      
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [formGroup]="registrationForm">
      <ng-template matStepLabel><td id="ngtext">Confirm Password</td></ng-template>
      <input matInput placeholder="passwordCheck" formControlName='passwordCheck' required>
      
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [formGroup]='registrationForm'>
      <ng-template matStepLabel><td id="ngtext">Establishment</td></ng-template>
      <mat-select formControlName="establishment" placeholder="establishment">
        <mat-option value="1">Finnigan's Irish Pub</mat-option>
        <mat-option value="2">Shenanigan's</mat-option>
        <mat-option value="3">Other Bar</mat-option>
        <mat-option value="99">Establishment Not Listed</mat-option>
      </mat-select>
    </form>
  </mat-step>
  
  <mat-step>
    <form [formGroup]='registrationForm'>
      <ng-template matStepLabel><td id="ngtext">Position</td></ng-template>
      <mat-select formControlName="role_id" placeholder="position">
        <mat-option value="1">manager</mat-option>
        <mat-option value="2">bartender</mat-option>
      </mat-select>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><td id="ngtext">Send</td></ng-template>
    Finished?
    
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext (click)='createUser()' >Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper >

