<h3>Review Orders Before Sending</h3>
<br />
<igx-card (click)='toggleShow()'> Republic - Nick - cell

  <table *ngIf='show'  width='100%'>
    <thead><tr><th>ProductName</th><th>Volume</th><th>Unit Cost</th><th>Quantity</th><th>Par</th><th>Ordered</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of rep1">
        <td>
          <input type="text" [(ngModel)]="product.productName" [disabled]="!product.isEditable"/>
        </td>
        <td>
            <input type="text" [(ngModel)]="product.volume" [disabled]="!product.isEditable"/>
        </td>
        <td>
            <input type="text" [(ngModel)]="product.unitCost" [disabled]="!product.isEditable"/>
        </td>
        <td>
            <input type="text" [(ngModel)]="product.quantity" [disabled]="!product.isEditable"/>
        </td>
        <td>
            <input type="text" [(ngModel)]="product.par" [disabled]="!product.isEditable"/>
        </td>
        <!-- <td>
            {{func}}
        </td> -->
      </tr>
    </tbody>
    <tfoot>
        <td></td><td></td><td><td></td><td> Total </td><td> {{getTotalCost(rep1) | currency}}</td>
    </tfoot>
  </table>
</igx-card>

  <button (click)='sendOrders()'>Send Orders</button>
