<h3 class='titles'>Review Orders Before Sending</h3>
<br />
<!-- <button *ngIf='!show' (click)='toggleShow()'>Review</button> -->
<div *ngIf='show1'><h4 class="smlTitle">{{ordered[1][0].distributor}}</h4>

  <table>
    <thead><tr><th>ProductName</th><th>Vol</th><th>Cost</th><th>Qty</th><th>Par</th><th>Order</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of ordered[1]">
        <td>
         {{product.productName}}
        </td>
        <td>
           {{product.volume}}
        </td>
        <td>
           {{product.unitCost}}
        </td>
        <td>
           {{product.quantity}}
        </td>
        <td>
           {{product.par}}
        </td>
        <td>
         {{product.qty}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td></td><td></td><td></td><td></td><td>Total Price</td><td>{{totalPrice(ordered[1]) | currency}}</td>
    </tfoot>
  </table>
  <button (click)='confirmOrders1(ordered[1])'>Confirm Order</button>
</div>
  <br />
  <div *ngIf='show2'><h4 class="smlTitle">{{ordered[9][0].distributor}}</h4>

    <table>
      <thead><tr><th>ProductName</th><th>Vol</th><th>Cost</th><th>Qty</th><th>Par</th><th>Order</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of ordered[9]">
          <td>
           {{product.productName}}
          </td>
          <td>
             {{product.volume}}
          </td>
          <td>
             {{product.unitCost}}
          </td>
          <td>
             {{product.quantity}}
          </td>
          <td>
             {{product.par}}
          </td>
          <td>
           {{product.qty}}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td></td><td></td><td></td><td></td><td>Total Price</td><td>{{totalPrice(ordered[9]) | currency}}</td>
      </tfoot>
    </table>
    <button (click)='confirmOrders2(ordered[9])'>Confirm Order</button>
  </div>
    <br />
    <div *ngIf='show3'><h4 class="smlTitle">{{ordered[8][0].distributor}}</h4>

      <table>
        <thead><tr><th>ProductName</th><th>Vol</th><th>Cost</th><th>Qty</th><th>Par</th><th>Order</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of ordered[8]">
            <td>
             {{product.productName}}
            </td>
            <td>
               {{product.volume}}
            </td>
            <td>
               {{product.unitCost}}
            </td>
            <td>
               {{product.quantity}}
            </td>
            <td>
               {{product.par}}
            </td>
            <td>
             {{product.qty}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td></td><td></td><td></td><td></td><td>Total Price</td><td>{{totalPrice(ordered[8]) | currency}}</td>
        </tfoot>
      </table>
      <button (click)='confirmOrders3(ordered[8])'>Confirm Order</button>
    </div>
    <br />
      <div *ngIf='show4'><h4 class="smlTitle">{{ordered[5][0].distributor}}</h4>

        <table>
          <thead><tr><th>ProductName</th><th>Vol</th><th>Cost</th><th>Qty</th><th>Par</th><th>Order</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of ordered[5]">
              <td>
               {{product.productName}}
              </td>
              <td>
                 {{product.volume}}
              </td>
              <td>
                 {{product.unitCost}}
              </td>
              <td>
                 {{product.quantity}}
              </td>
              <td>
                 {{product.par}}
              </td>
              <td>
               {{product.qty}}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td></td><td></td><td></td><td></td><td>Total Price</td><td>{{totalPrice(ordered[5]) | currency}}</td>
          </tfoot>
        </table>
        <button (click)='confirmOrders4(ordered[5])'>Confirm Order</button>
      </div>
      <br />
      <br />
      <br />
      <br />

