<h3 id="title">Initialize Inventory</h3>
<br />

<mat-vertical-stepper>
  <mat-step>
    <igx-select [(ngModel)]="dist_id" #select>
      <ng-template matStepLabel>
        <td id="ngtext">Distributer</td>
      </ng-template>
      <igx-select-item *ngFor="let dist of distributors" [value]='dist' required>
        {{dist.distributor.name}}
      </igx-select-item>
    </igx-select>
    <div>
      <button matButton matStepperNext (click)="getProd()">Next</button>
    </div>
  </mat-step>

  <mat-step>
    <igx-select [(ngModel)]="product" #select>
      <ng-template matStepLabel>
        <td id="ngtext">Product</td>
      </ng-template>
      <igx-select-item *ngFor="let product of dist_products" [value]='product' required>
        {{product.product.product_name}}
      </igx-select-item>
    </igx-select>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext>Next</button>
    </div>
  </mat-step>
 
  <mat-step>
    <form [(formGroup)]="invForm">
      <ng-template matStepLabel>
        <td id="ngtext">Set Par</td>
      </ng-template>
      <input matInput placeholder="par" formControlName='par' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [(formGroup)]="invForm">
      <ng-template matStepLabel>
        <td id="ngtext">Set Quantity</td>
      </ng-template>
      <input matInput placeholder="qty" formControlName='qty' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <td id="ngtext">Send</td>
    </ng-template>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="add()">Add Another Bottle</button>
      <button matButton (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>