<h3 class='titles'>Orders</h3>
<br />

<ul>
  <li *ngFor="let order of orderList; let i = index">
    <div>
      <h6 class="smlTitle">{{order.distributor}}</h6>
      <table class="mat-elevation-z8" width='100%'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Vol</th>
            <th>Qty</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of orderList[i].products">
            <td>
              {{product.name}}
            </td>
            <td>
              {{product.bottleSize}}
            </td>
            <td>
              {{product.qty}}
            </td>
            <td>
              {{product.price}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td></td><td></td><td>Total Price</td><td>{{order.total}}</td>
        </tfoot>
      </table>
    </div>
    <br />
  </li>
</ul>