<h4>Orders</h4>
<br />

<ul>
  <li *ngFor="let order of orderList; let i = index">
    <igx-card>
      <h6>{{order.distributor}}</h6>
      <table class="mat-elevation-z8" width='100%'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Volume</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of orderList[i].products">
            <td>
              <input type="text" 
              [(ngModel)]="product.name"
              [disabled]="!product.isEditable"/>
            </td>
            <td>
              <input type="text" 
              [(ngModel)]="product.bottleSize"
              [disabled]="!product.isEditable"/>
            </td>
            <td>
              <input type="text" 
              [(ngModel)]="product.qty"
              [disabled]="!product.isEditable"/>
            </td>
            <td>
              <input type="text" 
              [(ngModel)]="product.price"
              [disabled]="!product.isEditable">
            </td>
          </tr>
        </tbody>
      </table>
      <div style="float: right">Total: {{order.total}}</div>
    </igx-card>
    <br />
  </li>
</ul>