
<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
<button 
[disabled]="uploading || uploadSuccessful" 
class="add-files-btn" 
*ngIf="!progress"
(click)="addFiles()">Select an invoice</button>

<mat-list-item *ngFor="let file of files">{{file.name}}<br />
<button *ngIf="canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button><br />
<button *ngIf="!canBeClosed" mat-dialog-close>Cancel</button>

</mat-list-item>
<mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>