<igx-navbar title='Mise en Place'>
    <igx-icon>more_vert</igx-icon>
</igx-navbar>

<igx-bottom-nav>
  <igx-tab-panel label="Home" icon="assignment">
    <app-home></app-home>
  </igx-tab-panel>
  
  <igx-tab-panel label="Invoices" icon="assignment">
    <app-invoices></app-invoices>
  </igx-tab-panel>
      
  <igx-tab-panel label="Orders" icon="assignment">
    <app-orders></app-orders>
  </igx-tab-panel>

  <igx-tab-panel label="Inventory" icon="assignment">
    <app-inventory></app-inventory>
  </igx-tab-panel>

  <igx-tab-panel label="Forecast" icon="assignment">
    <app-forecasting></app-forecasting>
  </igx-tab-panel>
</igx-bottom-nav>

