.topnav { 
  background-color: #141518; 
  position: fixed;
  top: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: #FFA700;
  text-align: center;
  height: auto;
}

h1{
  color: #FFA700;
  font-size: 2em;
  font-family: 'Mr Bedfort', cursive;
  display: inline;
}