<div class="topnav">
  <a href='#'>
    <h1>Mise en Place</h1>
  </a>

  <div class='right'>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a href='#' routerLink='/settings'>
        <mat-icon>settings</mat-icon>Settings
      </a>
    </button>
  
    <button mat-menu-item>
      <a href='#' routerLink='/logout'>
        <mat-icon>input</mat-icon>Log Out
      </a>
    </button>
  </mat-menu><br /><br /><br />
