<h3 class='titles'>Distributors</h3>

<br />

<ul>
  <li *ngFor="let dist of distributors">
    <b>{{dist.distributor.name}}</b><br />
    <b>Address:</b> <p> {{ dist.distributor.address}}</p><br />
    <b>Email:</b> <p> {{ dist.distributor.email}}</p><br />
    <b>Phone:</b> <p> {{ dist.distributor.phone}}</p><br />

    <ul>
      <b>Reps</b>
      <li *ngFor="let rep of dist.distributor.reps">
        <b>Name:</b> <p> {{rep.first_name}} {{rep.last_name}}</p><br />
        <b>Email:</b> <p> {{ rep.email}}</p><br />
        <b>Phone:</b> <p> {{ rep.phone}}</p><br />
      </li>
    </ul>
    <br /><br />

  </li>
</ul>