mat-vertical-stepper {
    background: transparent;
  }
  
  #ngtext {
    color: #CCCCCC;
  }
  
  #title {
    color: #ffa700;
    text-align: center
  }

  ::placeholder{
    color: #CCCCCC;
    opacity: .2;
  }

  ::ng-deep .mat-step-header .mat-step-icon {
    background-color: #CCCCCC; 
 }

 ::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #ffa700; 
}