<h3 class='titles'>New Establishment</h3>

<mat-vertical-stepper>
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">Establishment Name</td></ng-template>
      <input matInput placeholder="Establishment Name" formControlName='org_name' required>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">Address</td></ng-template>
      <input matInput placeholder="Address" formControlName='address' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">City</td></ng-template>
      <input matInput placeholder="city" formControlName='city' required>
      
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">State</td></ng-template>
      <input matInput placeholder="state" formControlName='state' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">Zip Code</td></ng-template>
      <input matInput placeholder="zip" formControlName='zip' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">Email</td></ng-template>
      <input matInput placeholder="Email" formControlName='email' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="orgForm">
      <ng-template matStepLabel><td id="ngtext">Phone Number</td></ng-template>
      <input matInput placeholder="number" formControlName='phone' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel><td id="ngtext">Send</td></ng-template>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper >