<mat-vertical-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form>
            <ng-template>Enter EMAIL</ng-template>
            <mat-form-field>
                <input matInput placeholder="EMAIL" formControlName='firstCtrl' required>
            </mat-form-field>
            <div>
                <button matButton matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form>
             <ng-template>Enter Password</ng-template>
             <mat-form-field>
                 <input matInput placeholder="PASSWORD" formControlName='secondCtrl' required>
             </mat-form-field>
             <div>
                 <button matButton matStepperPrevious>Back</button>
                 <button matButton matStepperNext>Next</button>
             </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Send</ng-template>
        Finished?
        <div>
            <button matButton matStepperPrevious>Back</button>
            <button matButton matStepperNext>Submit</button>
            <!-- (click)="" -->
        </div>
    </mat-step>
</mat-vertical-stepper >