<h3 class='titles'>Log-In</h3>

<mat-vertical-stepper>
    <mat-step>
        <form [(formGroup)]="loginForm">
        <ng-template matStepLabel><td id="ngtext">Enter Email</td></ng-template>
            <input type='text' placeholder="email" formControlName='email'>
            <button matButton matStepperNext>Next</button>
        </form>
    </mat-step>

    <mat-step>
        <form [(formGroup)]="loginForm">
        <ng-template matStepLabel><td id="ngtext">Enter Password</td></ng-template>
            <input type='text' placeholder="password" formControlName='password'>
            <button matButton matStepperPrevious>Back</button>
            <button matButton matStepperNext>Next</button>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel><td id="ngtext">Send</td></ng-template>
        Finished?
        <div>
            <button matButton matStepperPrevious>Back</button>
            <button matButton matStepperNext >Submit</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
