/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Montserrat, "Helvetica Neue", sans-serif; 
  background-color: #34373C;
}

.action-button{
  color: white;
}

.right {
  float: right;
}

a:link{
  text-decoration: none;
}

a:visted{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}