<br />
<br />
<div class='container-1'>

  <mat-card id="botAct"  href='#' routerLink='/scan-bar-code'>
      <!-- <a  href='#' routerLink='/scan-bar-code'> -->
      <mat-card-caption class="actions">
        Scan Bottle
      </mat-card-caption>
    <!-- </a> -->
  </mat-card>
  
  <mat-card id="stockAct" href='#' routerLink='/update-stock'>
      <!-- <a  href='#' routerLink='/update-stock'> -->
      <mat-card-caption class="actions">
        Update Stock
      </mat-card-caption>
    <!-- </a> -->
    </mat-card>

</div>
<br />
<br />
<div class='container-2'>

  <mat-card id="invoiceAct" href='#' routerLink='/scan-invoice'>
      <!-- <a  href='#' routerLink='/scan-invoice'> -->
      <mat-card-caption class="actions">
        Scan Invoice
      </mat-card-caption>
    <!-- </a> -->
  </mat-card>

  <mat-card id="suggestAct"  href='#' routerLink='/suggest-order'>
      <!-- <a  href='#' routerLink='/suggest-order'> -->

        <div class='actions'>Suggest Order</div>
    <!-- <mat-card-caption class="actions">
      Suggest Order
    </mat-card-caption> -->
  <!-- </a> -->
  </mat-card>
</div>

<br /><br />