<br />
<a class='action-button' href='#' routerLink='/scan-bar-code'>
<mat-card>
    <mat-card-title>
      Scan Bottle
      <div class='right'><mat-icon>center_focus_weak</mat-icon></div>
    </mat-card-title>
</mat-card>
</a>
<br />

<br />
<a class='action-button' href='#' routerLink='/update-stock'>
<mat-card>
  <mat-card-title>
   Update Stock
    <div class='right'>
      <mat-icon>center_focus_weak</mat-icon>
    </div>
  </mat-card-title>
</mat-card>
</a>
<br />

<br />
<a class='action-button' href='#' routerLink='/scan-invoice'>
<mat-card>
  <mat-card-title>
    Scan Invoice
    <div class='right'>
      <mat-icon>center_focus_weak</mat-icon>
    </div>
  </mat-card-title>
</mat-card>
</a>
<br />

<br />
<a class='action-button' href='#' routerLink='/suggest-order'>
<mat-card>
  <mat-card-title>
    Suggest Order
    <div class='right'>
      <mat-icon>center_focus_weak</mat-icon>
    </div>
  </mat-card-title>
</mat-card>
</a>
<br />
