<h3>Update Inventory</h3>

<br />
<button *ngIf='!suggested' (click)="convert()" style="float: right;" >Show Inventory</button>
<button *ngIf='suggested' (click)='confirmOrders()' style="float: right;">Save Updates</button>
<br />
<igx-card *ngIf='suggested'><h4>{{updated[1][0].categ}}</h4>
    <table >
        <thead><tr><th>ProductName</th><th>Volume</th><th>Unit Cost</th><th>Quantity</th><th>Par</th></tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of updated[1]'>
            <td>
              {{product.productName}}
            </td>
            <td>
                {{product.volume}}
            </td>
            <td>
                <input type = 'text' [(ngModel)]="product.unitCost" [disabled]="!product.isEditable" style="background-color: white" />
            </td>
            <td>
                <input type = 'text' [(ngModel)]="product.quantity" [disabled]="!product.isEditable" style="background-color: white" />
            </td>
            <td>
                <input type = 'text' [(ngModel)]="product.par" [disabled]="!product.isEditable" style="background-color: white" />
            </td>

            <td>
               <button (click)="product.isEditable=!product.isEditable" *ngIf="!product.isEditable">Edit</button>
               <button *ngIf="product.isEditable" (click)="product.isEditable=!product.isEditable">Save</button>    
            </td>
          </tr>
        </tbody>
      </table>     
</igx-card>
<br />
<igx-card *ngIf='suggested'><h4>{{updated[2][0].categ}}</h4>
  <table >
      <thead><tr><th>ProductName</th><th>Volume</th><th>Unit Cost</th><th>Quantity</th><th>Par</th></tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of updated[2]'>
          <td>
            {{product.productName}}
          </td>
          <td>
              {{product.volume}}
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.unitCost" [disabled]="!product.isEditable" style="background-color: white" />
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.quantity" [disabled]="!product.isEditable" style="background-color: white" />
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.par" [disabled]="!product.isEditable" style="background-color: white" />
          </td>

          <td>
             <button (click)="product.isEditable=!product.isEditable" *ngIf="!product.isEditable">Edit</button>
             <button *ngIf="product.isEditable" (click)="product.isEditable=!product.isEditable">Save</button>    
          </td>
        </tr>
      </tbody>
    </table>     
</igx-card>
<br />
<igx-card *ngIf='suggested'><h4>{{updated[3][0].categ}}</h4>
  <table >
      <thead><tr><th>ProductName</th><th>Volume</th><th>Unit Cost</th><th>Quantity</th><th>Par</th></tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of updated[3]'>
          <td>
            {{product.productName}}
          </td>
          <td>
              {{product.volume}}
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.unitCost" [disabled]="!product.isEditable" style="background-color: white" />
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.quantity" [disabled]="!product.isEditable" style="background-color: white" />
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.par" [disabled]="!product.isEditable" style="background-color: white" />
          </td>

          <td>
             <button (click)="product.isEditable=!product.isEditable" *ngIf="!product.isEditable">Edit</button>
             <button *ngIf="product.isEditable" (click)="product.isEditable=!product.isEditable">Save</button>    
          </td>
        </tr>
      </tbody>
    </table>     
</igx-card>
<br />
<igx-card *ngIf='suggested'><h4>{{updated[4][0].categ}}</h4>
  <table >
      <thead><tr><th>ProductName</th><th>Volume</th><th>Unit Cost</th><th>Quantity</th><th>Par</th></tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of updated[4]'>
          <td>
            {{product.productName}}
          </td>
          <td>
              {{product.volume}}
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.unitCost" [disabled]="!product.isEditable" style="background-color: white" />
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.quantity" [disabled]="!product.isEditable" style="background-color: white" />
          </td>
          <td>
              <input type = 'text' [(ngModel)]="product.par" [disabled]="!product.isEditable" style="background-color: white" />
          </td>

          <td>
             <button (click)="product.isEditable=!product.isEditable" *ngIf="!product.isEditable">Edit</button>
             <button *ngIf="product.isEditable" (click)="product.isEditable=!product.isEditable">Save</button>    
          </td>
        </tr>
      </tbody>
    </table>     
</igx-card>
<br />
<br />
<br />