<h3 class='titles'>New Product</h3>
<br />

<mat-vertical-stepper>
  <mat-step>
    <igx-select [(ngModel)]="dist" #select>
      <ng-template matStepLabel>
        <td id="ngtext">Distributer</td>
      </ng-template>
      <igx-select-item *ngFor="let dist of distributors" [value]='dist' required>
        {{dist.distributor.name}}
      </igx-select-item>
    </igx-select>
    <div>
      <button matButton matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <form [(formGroup)]="prodForm">
      <ng-template matStepLabel>
        <td id="ngtext">Product Name</td>
      </ng-template>
      <input matInput placeholder="Product Name" formControlName='product_name' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [(formGroup)]="prodForm">
      <ng-template matStepLabel>
        <td id="ngtext">UPC</td>
      </ng-template>
      <input matInput placeholder="UPC" formControlName='upc' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <igx-select [(ngModel)]="cate" #select>
      <ng-template matStepLabel>
        <td id="ngtext">Category</td>
      </ng-template>
      <igx-select-item *ngFor="let cate of categories" [value]='cate' required>
        {{cate.category_name}}
      </igx-select-item>
    </igx-select>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <igx-select [(ngModel)]="sub" #select>
      <ng-template matStepLabel>
        <td id="ngtext">Sub Category</td>
      </ng-template>
      <igx-select-item *ngFor="let sub of cate.subcategories" [value]='sub' required>
        {{sub.subcategory_name}}
      </igx-select-item>
    </igx-select>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <igx-select [(ngModel)]="size" #select>
      <ng-template matStepLabel>
        <td id="ngtext">Bottle Size</td>
      </ng-template>
      <igx-select-item *ngFor="let size of bottlesize" [value]='size' required>
        {{size.size}}
      </igx-select-item>
    </igx-select>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext>Next</button>
    </div>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="prodForm">
      <ng-template matStepLabel>
        <td id="ngtext">Tare</td>
      </ng-template>
      <input matInput placeholder="Tare" formControlName='tare' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [(formGroup)]="prodForm">
      <ng-template matStepLabel>
        <td id="ngtext">Price</td>
      </ng-template>
      <input matInput placeholder="Price" formControlName='price' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <form [(formGroup)]="prodForm">
      <ng-template matStepLabel>
        <td id="ngtext">Notes</td>
      </ng-template>
      <input matInput placeholder="Notes" formControlName='notes' required>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>
      <td id="ngtext">Send</td>
    </ng-template>
    Finished?

    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>