<h3 class='titles'>Settings</h3>
<br />
<br />
<a href='#' routerLink='/organization'>
  <mat-card>
    <mat-card-title>
      New Establishment
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>
<br />
<a href='#' routerLink='/newdist'>
  <mat-card>
    <mat-card-title>
      New Distributor
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>
<br />
<a href='#' routerLink='/newrep'>
  <mat-card>
    <mat-card-title>
      New Distributor Rep
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>
<br />
<a href='#' routerLink='/newprod'>
  <mat-card>
    <mat-card-title>
      New Product
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>
<br />
<a href='#' routerLink='/inventory-wizard'>
  <mat-card>
    <mat-card-title>
      Initialize Inventory
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>
<br />
<a href='#' routerLink='/getdist'>
  <mat-card>
    <mat-card-title>
      View Distributors/Reps
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>
<br />
<br />
<br />
<br />