<h2 id="title">Settings</h2>
<br />
<a href='#' routerLink='/organization'>
<mat-card style="margin:2em">
    <mat-card-title id='link'>
      Add Establishment
    </mat-card-title>
</mat-card>
</a>
<br />
<br />
<a href='#' routerLink='/scan-bar-code'>
<mat-card>
    <mat-card-title id='link'>
      Edit Establishment
    </mat-card-title>
</mat-card>
</a>
<br />
<br />
<a href='#' routerLink='/registration'>
<mat-card>
    <mat-card-title id='link'>
      Add Employee
    </mat-card-title>
</mat-card>
</a>
<br />
<br />
<a href='#' routerLink='/scan-bar-code'>
<mat-card>
    <mat-card-title id='link'>
      Edit/Delete Employee
    </mat-card-title>
</mat-card>
</a>
<br />
<br />
<a href='#' routerLink='/inventory-wizard'>
<mat-card>
    <mat-card-title id='link'>
      Initialize Inventory
    </mat-card-title>
</mat-card>
</a>
