<h2 id="title">Settings</h2>
<br />

<a href='#' routerLink='/organization'>
  <mat-card>
    <mat-card-title>
      Establishment (New/Edit)
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>

<a href='#' routerLink='/newdist'>
  <mat-card>
    <mat-card-title>
      Distributor (New/Edit)
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>

<a href='#' routerLink='/newrep'>
  <mat-card>
    <mat-card-title>
      Distributor Reps (New/Edit)
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>

<a href='#' routerLink='/newprod'>
  <mat-card>
    <mat-card-title>
      Product (New/Edit)
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>

<br /><br />
<a href='#' routerLink='/inventory-wizard'>
  <mat-card>
    <mat-card-title>
      (inventory wizard)
      <div class='right'>
        <mat-icon>center_focus_weak</mat-icon>
      </div>
    </mat-card-title>
  </mat-card>
</a>